<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Web</title>
	<link href="/css/bootstrap.css" rel="stylesheet" />
	<style>
		form > * {
			margin-top: 10px;
		}
	</style>
</head>
<body>

<div class="container">
	<form action="javascript:search()">
		<input type="text" class="form-control"
			name="data" id="data"
			autofocus="autofocus" placeholder="Search" />
		<input type="submit" class="btn btn-primary" value="Search" />
	</form>
	<h3></h3>
	<ul>
	</ul>
</div>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script>
	$(function() {
		$("#data").keyup(change);
	});

	function change() {
		var data = $("#data").val();
		if (data.length >= 3) {
			search();
		}
	}

	function search() {
		var data = $("#data").val();
		$.get("/search-ajax-result?data=" + data)
		.success(function(result) {
			$("h3").html("Found " + result.length + " station(s).");
			$("ul").html("");
			for (var i = 0; i < result.length; i++) {
				$("ul").append("<li>" + result[i].suburb + "</li>");
			}
		});
	}
</script>

</body>
</html>
